
#itens {
    display: none;
}

.categoria__mobile--lista {
    padding: 1rem;
}

.categoria__mobile--item {
    margin: 0 auto;
    padding: .5rem 0;
    width: 100px;
    text-align: center;
}

.categoria__mobile--link {
    color: #fdfdfd;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    width: 100px;
    
}

.mobile__busca {
    width: 100%;
    height: 50px;
    position: relative;
}

.mobile__busca--campo {
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1rem;
    font-weight: 400;
    color: #fdfdfd;
    background-color: black;
    width: 100%;
    outline: none;
    border: none;
    position: relative;

}

.mobile__busca--campo::placeholder {
    color:#fdfdfd;
    font-style: italic;
}

.mobile__busca--icone {
    width: 1.5rem;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}

