.populares {
    padding: 2rem 0;
    background-color: #F6F8F7;
}

.populares__titulo {
     padding-bottom: 1rem;
     font-size: 2rem;
     color: #333333;
     font-weight: 700;
}

.populares__lista {
    flex-wrap: wrap;
}




.populares__item {
   padding: 0.5rem;
   max-width: 264px;
}

.populares__card {
    background-color: white;
    box-shadow:  14px 10px 40px -25px rgb(0 0 0 / 31%);
    border-radius: 4px;
    transition: border 200ms ease-in;
}

.populares__card:hover {
    border: 1px solid #d6d6d6;
    color: #d6d6d6;
}

.btn {
    margin-bottom: 1rem;
    width: 80%;
    color: #f68c0d;
    border: 1px solid #f68c0d;

}

.btn:hover {
    background-color: #e2820c;
    border: none;
}

.btn:active {
    background-color: #e07b00;
}

.btn-outline-primary {
    --bs-btn-active-bg: #e07b00;
}